.register-form-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.register-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* flex: 1; */
}

.inputotp {
    display: flex;
    flex: 1;
}

.labels {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;


}

/* input[type='checkbox'],
  input[type='radio'] {
    display: block;
    margin-bottom: 5px;
  } */

button[type='submit'] {


    padding: 10px 30px;
    background: #002C5F;
    color: white;
    opacity: 65%;
}

button[type='submit']:hover {
    background-color: #0056b3;

}

.rad {
    display: flex;
    flex-direction: row;

}

.check {
    display: flex;
    gap: 10px;
}

.radiobtn {
    width: 25px;

}

.otp {
    display: flex;
    /* flex-direction: column; */
    gap: 40px;
    width: 50%;
    flex: 1;
}

.subtn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 1 */
}

.radgap {
    display: flex;
    gap: 4rem;
}