.multi-content-carousel {
    position: relative;
    margin: 28px 12px 28px 7px;
}

.carousel-container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.carousel-controls {
    top: 20px;
    position: absolute;
    gap: 72rem;
    display: flex;
}

.content img {
    height: 200px;
    width: 250px;
}

.prev-button,
.next-button {
    height: 30px;
    margin-top: 80px;
    border: none;
    background: transparent;
}

.maincss {
    position: relative;
    background-image: url('/public/trendback.png');
    background-size: cover;
    width: 100%;
    height: 500px;
    /* Adjust the height to fit your needs */
}

.borders {
    /* display: flex; */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75rem;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    /* Optional: Add background color with transparency */
    padding: 18px;
    gap: 1rem;
}

@media (max-width: 480px) {
    /* pseudo */


}